<!-- Основен Layout -->
<!DOCTYPE html>
<html>
<head>
    <%= partial("includes/header.html") %>
    <!---за инициализиране на materialize компоненти--->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // за инициализиране на sidebar-a
            let  elems = document.querySelectorAll('#mainSideBar');
            M.Sidenav.init(elems, {});
            //За dropdown-a, който е излиза под името на потребителя
            elems = document.querySelectorAll('#profileDropDownTrigger');
            var DropDownInstances = M.Dropdown.init(elems, {hover:true, coverTrigger:false});
        });
    </script>

    <%= partial("includes/flash.html") %>
</head>
<body class="blue-grey lighten-5">
<%= partial("includes/sidenav") %>
<div class="container">
    <%= yield %>
</div>
<script src="/static/js/vue.js"></script>
<%=contentOf("vueComponents")%>
</body>
</html>
