<!-- Страничното меню -->
<ul  class="sidenav   black white-text" id="mainSideBar">
    <li>
        <!-- Информация за потребителя -->
        <div class="user-view" style="padding: 10px 10px 10px 10px">

            <div class="background" style="  background-image: linear-gradient(to bottom right, #3f51b5, #c51162  );">
            </div>

            <div class="row left-align">
                <div class="col s4 left-align">
                    <!-- Аватар -->
                    <a style="margin-top: 15px" class="circle responsive-img white">

                        <img class="circle" src="https://bananamin.site/assets/images/default_avatar.png" />

                    </a>
                </div>
                <div class="col s8" id="profileDropDownTrigger" data-target='profileDropDown'>

                    <!-- Име -->
                    <a  class="btn-flat" >
                        <span class="white-text name">Пешо</span>
                    </a>
                    <!-- Email -->
                    <div class="progress">
                        <div class="determinate" style="width: 70%"></div>
                    </div>


                </div>
            </div>


            <!-- Hover меню, което се показва коато минем над името-->
            <ul id='profileDropDown' class='dropdown-content' >
                <li><a href="/profile">профил</a></li>
                <!--<li><a href="#!">настройки</a></li>-->
                <li class="divider" tabindex="-1"></li>

                <!--logout бутон-->
                <form id="logout" method="POST" action="/api/log/out">
                    <li onclick="document.cookie = 'Auth=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';window.location ='/'"><a>излез</a></li>
                </form>

            </ul>


        </div>
    </li>

    <!-- Навигация -->
    <li class="pink accent-3">
        <a href="/awards" class="white-text"><i class="material-icons white-text">grade</i>Моите награди</a>
    </li>

    <li class="pink accent-3">
        <a href="/contests" class="white-text"><i class="material-icons white-text">timeline</i>Състезания</a>
    </li>

</ul>

<!-- Бутон за отваряне на side bar-a -->
<a  style="margin: 7px 7px;position: fixed" href="#" data-target="mainSideBar" class="sidenav-trigger btn-floating btn-large waves-effect waves-light pink accent-3">
    <i class="material-icons">menu</i>
</a>


