<br><br>
<div class="card-panel">
	<h2 class="center">Твоите награди <i class="fas fa-trophy"></i></h2>
	<div class="row">
	    <div  class="center grey-text  flow-text ">330 точки да следващата награда !</div>
	</div>
	<br><br>
	<div class="row">
	    <div class="col s6">
	        <h5 class="center">Безплатни преводи</h5>
	        <h1 class="center deep-orange-text">4</h1>
	    </div>

	    <div class="col s6">
	        <h5 class="center">Такси за поддръжка на сметка</h5>
	        <h1 class="center deep-orange-text">-32 ст/месец</h1>
	    </div>
	</div>
</div>


<% contentFor("header") { %>
<% } %>

<% contentFor("vueComponents") { %>
<% } %>