<div class="card-panel">
    <h4 class="center">ПОСТИЖЕНИЯТА ДНЕС</h4>
    <div class="row">
        <div class="col s3">
            <h1 class="center red-text">
                <i class="fas fa-running"></i>
            </h1>

            <h5 class="center"> 2/50 <br>минути</h5>

        </div>
        <div class="col s3" >
            <h1 class="center blue-text">
                <i class="fas fa-walking"></i>
            </h1>
            <h5 class="center"> 14000/15000 <br>крачки</h5>
        </div>
        <div class="col s3">
            <h1 class="center green-text">
                <i class="fas fa-bicycle"></i>
            </h1>
            <h5 class="center">5100/4000 <br>метра</h5>
        </div>
        <div class="col s3">
            <h1 class="center red-text">
                <i class="fas fa-swimmer"></i>
            </h1>
            <h5 class="center">13/50 <br>минути</h5>
        </div>
    </div>
</div>
<% contentFor("header") { %>
<% } %>

<% contentFor("vueComponents") { %>
<% } %>