<h4 class="center">Петър Цонев</h4>
        <h5 class="center">Ранк 4  <i class="fas fa-award"></i></h5>
        <h6 class="center">3402 точки</h6>
        <div class="progress">
            <div class="determinate" style="width: 70%"></div>
        </div>
<br>
        <div class="divider"></div>
<br>


        <div class="row" id="app">
            <div class="col s2">
                <h5> Тегло:  <span>{{weight}}кг</span></h5>
            </div>
            <div class="col s10">
                <p class="range-field">
                    <input v-model="weight" type="range"  min="30" max="250" />
                </p>
            </div>

            <div class="col s2">
                <h5> Ръст:  <span>{{height}}см</span></h5>
            </div>
            <div class="col s10">
                <p class="range-field">
                    <input v-model="height" type="range" id="test5" min="50" max="250" />
                </p>
            </div>

            <div class="col s2">
                <h5> Пол </h5>
            </div>
            <div class="col s10">
                <br>
                <label>
                    <input v-model="gender" value="female" type="radio" />
                    <span><i class="fas fa-female pink-text"></i> ЖЕНА </span>
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                    <input v-model="gender" value="male" type="radio" />
                    <span><i class="fas fa-male blue-text"></i> МЪЖ </span>
                </label>
            </div>

        </div>

<% contentFor("header") { %>
<% } %>

<% contentFor("vueComponents") { %>
<script src="/static/components/profile.js"></script>
<% } %>